html {
  font-size: 62.5%;
}
body {
  background-color: #f9f5f2;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #333333;
  background-color: #fff;
  height: 220px;
  width: 377px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.5);
}
h1,
h2 {
  font-size: 3rem;
}
h1 {
  border-bottom: 3px #a5a5a5 solid;
  width: 220px;
  text-align: center;
}
h2 {
  margin-top: 30px;
  color: #ff9500;
  span {
    font-size: 2.1rem;
  }
}
main {
  padding: 0 25px;
}
.btn_wrap {
  display: flex;
  gap: 20px;
}
.new {
  background-color: #ffed68;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 275px;
  right: 20px;
  p {
    margin-top: 15px;
    font-size: 2rem;
    color: #6f6c6c;
  }
}
.video,
.camera {
  width: 160px;
  height: 220px;
  border-radius: 15px;
  margin-top: 83px;
  font-size: 2.5rem;
  color: #fff;
}
.camera {
  background-color: #96c394;
  span {
    font-size: 1.5rem;
    margin-right: 45px;
  }
  img {
    margin-top: 30px;
  }
}
.video {
  background-color: #87d6df;
  span {
    font-size: 1.5rem;
    color: #87d6df;
  }
  img {
    margin-top: 30px;
  }
}
.diary_wrap {
  margin: 120px 0 50px 0;

  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}
.diary {
  width: 220px;
  height: 88px;
  padding-left: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    width: 33px;
    height: 37px;
  }
}
